{{#extend 'stylesheets'}}
    <link rel="stylesheet" type="text/css" href="/styles/myadmin.css">
	
{{/extend}}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{pageTitle}}</h1>

    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- <div class="container"> -->
<div class="row">
	<div class="reply_form_container">
		<form action="/admin/posts/add?_csrf={{_csrfToken}}" method="POST" enctype="multipart/form-data" id="reply_form" class="reply_form">
			<input type="text" name="title" class="reply_input" placeholder="Blog Title " required="required">
			<div>
				<div class="col-md-6">
					<select name="category" class="reply_input " id="category" required data-validation-required-message="Please select Blog category!" onchange="isItVideo()">
		                {{#each categories}}
		                	
		                    <option value="{{_id}}"
		                    {{#ifCond title "==" "Videos"}}
		                    		data-video="video" attr_value="{{_id}}"
		                    	{{/ifCond}}>{{title}}
		                        
		                    </option>
		                	
		                {{/each}}
		            </select>
				</div>
			</div>
			<div>
				<div class="col-md-6">
					<input type="file" name="image" class="reply_input" placeholder="Category Image" required="required">
				</div>
			</div>
			<textarea class="reply_input " name="tags" id="tags" placeholder="Blog Tags separated with e.g tech, info & comm, science " ></textarea>
			<textarea class="reply_input reply_textarea" name="body" id="body" placeholder="Blog Detail" required="required"></textarea>
			
			<button class="reply_button trans_200">submit</button>
		</form>
	</div>
			
</div>
<!-- </div> -->

{{#extend 'scripts'}}

	<script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
	<script type="text/javascript">

		// CKEDITOR.replace( 'body' );


		function isItVideo(){
			var body_val =	$('#body').val();

			var category = document.querySelector('select[name=category]').value;
			// var Video_id = document.querySelector('select[atrr_video=video]').attr_value
			var Video_id = $("select option[data-video='video']").attr('attr_value');
				// console.log(category);
				// console.log(Video_id);
			if (category == Video_id) {
			// document.querySelector('textarea[name=body]').hidden;
				$('#body').hide();
				if (body_val == '') 
					$('#body').val('null');
				else
					$('#body').val(body_val);
				$('#reply_form').attr("action","/posts/add_video?_csrf=");


			}
			else{
				$('#body').show();
				if (body_val == 'null') 
					$('#body').val('');
				else
					$('#body').val(body_val);
				$('#reply_form').attr("action","/posts/add?_csrf=");


			}
		}

		

	</script>
	<script type="text/javascript">isItVideo();</script>
{{/extend}}